.checkbox-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: space-between;
}

.checkbox-item input {
    margin-right: 10px;
    width: 23px;
    height: 23px;
    border-radius: 6px;
    background-color: #fff;
    border: 2px solid #ccc;
}

.label {
    color: #000;
    font-family: Montserrat;
}
